.header{
  text-align: center;
  cursor: pointer;
}
.menu{
  display: flex;
  width: 100%;
  height: 5em;
  background-color: rgb(219, 73, 73);
  align-items: center;
  color: white;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  min-width: 50px;
  height: 50%;
  font-size:55%;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  background-color: #e62626;
  margin-left: 0.7%;
}
.box:hover{
  background-color: #ff0000;
}
.botones-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60vw;
  margin-right: 3%;
}

.login-image, .cart-image{
  width: 4vw;
  height: 4vw;
  min-width: 25px;
  min-height: 25px;
  margin: 5px;
  cursor: pointer;
}
.login-image:hover{
  background-color: white;
  border-radius: 100%;
}
.login-image:hover,.cart-image:hover{
  width: 4.5vw;
  height: 4.5vw;
}
.carrito {
  position: relative;
  cursor: pointer;
}

.carrito::after {
  content: var(--cantidad-en-carrito, "0");
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: rgb(29, 96, 210);
  color: white;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.logo-image{
  margin-top: -2%;
  width: 50%;
  height: 50%;
}