<div><h1 class="header"><img class="logo-image" src="assets\images\logo2.png" [routerLink]="'/home'" alt=""></h1></div>

<div class="menu">
  <div [routerLink]="'/home'" class="box">INICIO</div>
  <div class="box" [routerLink]="'/catalogo'">CATÁLOGO</div>
  <div class="box" [routerLink]="'/sobre-nosotros'">NOSOTROS</div>
    <div class="botones-header">
      <div *ngIf="carritoLleno" class="bolita">&nbsp;{{cantidadEnCarrito}}&nbsp;&nbsp;</div><div class="carrito" [ngStyle]="{ '--cantidad-en-carrito': cantidadEnCarrito }"><img class="cart-image" src="assets\images\cart.png" [routerLink]="'/carrito'"alt=""></div>
      <div class="login"><img *ngIf="!isLoggedIn" class="login-image" src="assets\images\user.png" [routerLink]="'/login'" alt=""><img *ngIf="isLoggedIn" class="login-image" src="assets\images\user.png" [routerLink]="'/perfil'" alt=""></div>
      <div *ngIf="isAdmin" class="admin-button">
        <img class="admin-image" src="assets\images\admin.png" [routerLink]="'/admin'" alt="">
      </div>    
    </div>
</div>