<div><h1 class="header"><img class="logo-image" src="assets\images\logo2.png" [routerLink]="'/home'" alt=""></h1></div>

<div class="menu">
  <div [routerLink]="'/home'" class="box">INICIO</div>
  <div class="box" [routerLink]="'/catalogo'">CATÁLOGO</div>
  <div class="box">NOSOTROS</div>
    <div class="botones-header">
      <div class="carrito"><img class="cart-image" src="assets\images\cart.png" [routerLink]="'/carrito'"alt=""></div>
      <div class="login"><img class="login-image" src="assets\images\user.png" [routerLink]="'/login'" alt=""></div>
    </div>
</div>