<h2 *ngIf="user">Perfil de {{user.name}}</h2>
<div *ngIf="user" class="perfil">
  <div class="datos">
    <div class="subdatos">
      <a><b>Nombre:</b> {{user.name}}</a>
      <br>
      <a><b>Email:</b> {{user.email}}</a>
    </div>
    <div class="subdatos">
      <a><b>Dirección:</b> {{user.address}}</a>
      <br>
      <a><b>Rol:</b> admin</a>
    </div>
  </div>
  <div >
    <button class="boton-cambiar">Cambiar Datos</button>
  </div>
</div>

<div *ngIf="user">
  <div class="listaPedidos" *ngFor="let p of listaProductosOrdenados; let i = index">
    <div class="pedido" >
      <div  *ngFor="let product of p">
        <p>{{product.name}}</p>
        <img [routerLink]="'/detalle/'+product.id" class="imagenProducto" [src]="API_URL + product.image" alt="foto de {{product.name}}">
      </div>
      <a >Total: {{listaPedidosconTodo[i].transaction.value}}</a>
    </div>
  </div>
</div>