<h2 *ngIf="user">Perfil de {{user.name}}</h2>
<div *ngIf="user" class="perfil">
  <div class="datos">
    <div class="subdatos">
      <a><b>Nombre:</b> {{user.name}}</a>
      <br>
      <a><b>Email:</b> {{user.email}}</a>
    </div>
    <div class="subdatos">
      <a><b>Dirección:</b> {{user.address}}</a>
      <br>
      <a><b>Rol:</b> admin</a>
    </div>
  </div>
  <div >
    <button class="boton-cambiar" (click)="cambiarDatos=!cambiarDatos">Cambiar Datos</button>
  </div>
</div>
<br><br>
<div *ngIf="cambiarDatos" class="perfil">
  
  <form class="form" [formGroup]="myForm">
    <label for="nombre">Nombre:</label>
    <input class="input" type="text" formControlName="nombre" placeholder="{{user.name}}">

    <label for="email">Correo electrónico:</label>
    <input class="input" type="email" formControlName="email" placeholder="{{user.email}}">

    <label for="direccion">Dirección:</label>
    <input class="input" type="text" formControlName="direccion" placeholder="{{user.address}}">

    <label for="password">Nueva contraseña:</label>
    <input class="input" type="password" formControlName="password">

    <button class="boton-cambiar" type="submit" (click)="cambiarDatos=!cambiarDatos;upload();" [disabled]="myForm.invalid">Guardar cambios</button>
  </form>
</div>

<div *ngIf="user">
  <div class="listaPedidos" *ngFor="let p of listaProductosOrdenados; let i = index">
    <div class="pedido" >
      <div  *ngFor="let product of p">
        <p>{{product.name}}</p>
        <img [routerLink]="'/detalle/'+product.id" class="imagenProducto" [src]="API_URL + product.image" alt="foto de {{product.name}}">
      </div>
    </div>
    <div>
      <p >Total: {{listaPedidosconTodo[i].transaction.price.toFixed(2)}} €</p>
    <a >Fecha: {{listaPedidosconTodo[i].transaction.fecha}}</a>
    </div>
  </div>
</div>