<div class="container">
    <div [routerLink]="'/detalle/'+productoDetalle.id">
      <img class="imagenproductoDetalleroducto" [src]="API_URL + productoDetalle.image" alt="foto de {{productoDetalle.name}}">
      <p>{{ productoDetalle.name }}</p>
      <p>{{ productoDetalle.description }}</p>
      
      <p *ngIf="productoDetalle.stock>0" class="HayStock">{{productoDetalle.price}}€</p>
      <p *ngIf="productoDetalle.stock==0" class="NoStock">{{productoDetalle.price}}€</p>
  </div>
  <div>
    <button>Añadir al carrito</button>
  </div>
</div>
