<div class="divBuscador">
<input class="buscador" type="text" placeholder="🔍︎" [(ngModel)]="filtroNombre" (keyup)="aplicarFiltros()"/>

<select (change)="ordenar($event)">
  <option value="0" [ngValue]="0">A-Z</option>
  <option value="2" [ngValue]="2">Z-A</option>
  <option value="1" [ngValue]="1">€⭣</option>
  <option value="3" [ngValue]="3">€⭡</option>
</select>
</div>
<div class="container">
  <div *ngFor="let p of listaMostrada">
    <div [routerLink]="'/detalle/'+p.id">
      <img class="imagenProducto" [src]="API_URL + p.image" alt="foto de {{p.name}}">
      <p>{{ p.name }}</p>
      
      <p *ngIf="p.stock>0" class="HayStock">{{p.price}}€</p>
      <p *ngIf="p.stock==0" class="NoStock">{{p.price}}€</p>
    </div>
  </div>
</div>