<div class="container">
  <div class="listaCarrito">
    <div>
      <img>
      <img class="imagenProducto" src="assets\images\cart.png" alt=""><br>
      <b class="nombre">producto1  </b>
      <a class="precio">14.99€</a>
      <div>
      <a>Cantidad: </a>
      <input type="number" class="cantidad" min="1" value="1">
    </div>
    </div>
    <div>
      <img>
      <img class="imagenProducto" src="assets\images\cart.png" alt=""><br>
      <b class="nombre">producto2  </b>
      <a class="precio">14.99€</a>
    </div>
    <div>
      <img>
      <img class="imagenProducto" src="assets\images\cart.png" alt=""><br>
      <b class="nombre">producto3  </b>
      <a class="precio">14.99€</a>
    </div>
  </div>
  <div class="divConfirmar">
    <p class="precioTotal">Total: 14.99€</p>
    <button>Confirmar</button>
  </div>
</div>