.container {
  display: flex;
}

.listaCarrito {
  width: 100%;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(219, 73, 73);
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgb(219, 73, 73);
}

.imagenProducto {
  width: 150px; 
}

.botonEliminar img{
  width: 20px;
  height: 20px;
}

.nombre {
  font-weight: bold;
}

.cantidad {
  width: 50px; 
}

.precioTotal {
  font-size: 18px;
}
.divConfirmar button img {
  width: 200px;
}
.divConfirmar button{
  background: none;
  border: none;
}
.botonEliminar button {
  margin-top: 5px;
}

.subtotal {
  font-weight: bold;
}
.quantity {
  display: flex;
  align-items: center;
}

.quantity input[type="number"] {
  width: 30px;
  padding: 8px;
  border: 1px solid rgb(219, 73, 73);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-right: 5px;
}

.quantity input[type="number"]:focus {
  border-color: #e62626;
  box-shadow: 0 0 5px #e62626;
}

.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: scrollbarbutton-down;
  margin: 0;
}
