<div class="container">
  <div class="listaCarrito">
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of carritoUser; let i = index" class="cadaProducto">
          <td>
            <img class="imagenProducto" [src]="API_URL + p.image" alt=""><br>
            <b class="nombre">{{p.name}}</b>
          </td>
          <td class="precio">{{p.price}}€</td>
          <td class="CantidadEliminar">
            <div class="quantity">
              <a>Cantidad: </a>
              <input type="number" (change)="actualizarCantidad(p.id, valoresSpinners[i])" class="cantidad" min="1" [(ngModel)]="valoresSpinners[i]">
            </div>
          </td>
          <td class="subtotal">{{p.price * valoresSpinners[i]}}€</td>
          <td class="botonEliminar">
            <button (click)="eliminarProducto(p.id)"><img src="../../assets/images/delete.png" alt="delete image"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="divConfirmar">
    <h1 class="precioTotal">Total: {{precioTotal}}€</h1>
    <button><img src="../../assets/images/confirmarcompra.png" alt=""></button>
  </div>
</div>
