.container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
.producto{
  width: 50%;
}
.imagenProducto {
  width: 50%; 
}
.cadaProducto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin: 1%;
}
.pago{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}