<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario de login</title>
</head>
<body>
	<div class="container">
		<form class="form" [formGroup]="myForm" (ngSubmit)="uploadCredentials()">
			<h2>Inicia sesión</h2>
			<input type="text" formControlName="email" class="form-inputs" placeholder="E-mail">
			<input type="password" formControlName="password" class="form-inputs" placeholder="Contraseña">
      <div style="display: flex;">
        <input type="checkbox" formControlName="recordar" class="form-inputs"><a>Recordar credenciales?</a>
      </div>
      <input type="submit" class="botonInicio" value="Iniciar sesión">
		</form>
  <div class="registro" [routerLink]="'/registro'">No tienes cuenta? Regístrate!</div>
</div>
</body>
</html>