<div class="registro-container">
    <form class="registro-form" [formGroup]="myForm" (ngSubmit)="uploadRegister()">
      <h2>Registro</h2>
      <label for="nombre">Nombre:</label>
      <input class="registro-input" type="text" formControlName="nombre" placeholder="Ingrese su nombre">
  
      <label for="email">Correo electrónico:</label>
      <input class="registro-input" type="email" formControlName="email" placeholder="Ingrese su correo electrónico">
  
      <label for="password">Contraseña:</label>
      <input class="registro-input" type="password" formControlName="password" placeholder="Ingrese su contraseña">
  
      <label for="direccion">Dirección de residencia:</label>
      <input class="registro-input" type="text" formControlName="direccion" placeholder="Ingrese su dirección de residencia">
  
      <button class="registro-boton" type="submit" [disabled]="myForm.invalid">Registrar</button>
    </form>
    <div class="registro-enlace" [routerLink]="'/login'">¿Ya tienes una cuenta? Inicia sesión.</div>
  </div>



